{% extends 'users/detail.html' %}
{% block user_details %}
<div class="col-sm-6">
  <ul class="list-group" id="messages">

    {% for message in messages %}
    <form action="/messages/{{message.id}}/toggle-like" method="POST">

      <li class="list-group-item">
        <a href="/messages/{{ message.id }}" class="message-link" />

        <a href="/users/{{ user.id }}">
          <img src="{{ user.image_url }}" alt="user image" class="timeline-image">
        </a>

        <div class="message-area">
          <a href="/users/{{ user.id }}">@{{ user.username }}</a>
          <span class="text-muted">{{ message.timestamp.strftime('%d %B %Y') }}</span>
          <p>{{ message.text }}</p>
          {% if message in g.user.messages_liked %}
          <button class='like-btn'><i class="fas fa-heart"></i></button>
          {% else %}
          <button class='like-btn'><i class="far fa-heart"></i></button>
          {% endif %}
        </div>
      </li>
    </form>

    {% endfor %}

  </ul>
</div>
{% endblock %}